a{
  text-decoration: none;
}

.evil-img {
  height: 38px;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8rem;
  gap: 2.2rem 2.5rem;
}

.cool-nav {
  background-color: var(--color-black);
  border-radius: 12px 8px 12px 0px;
  transition: all 2s;
  transition: background-color 2s, color 2s;
  color: var(--color-light);
}

section {
  display: flex;
  flex-wrap: wrap;
  flex: 45%;
  border-radius: 1rem;
  container-type: inline-size;
  align-items: center;
  min-width: 280px;
  max-height: 100vh;
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 8px 4px rgba(41, 138, 174, 0.326);
  transition: all 5s;
  transition: background 0.5s, transform 1.3s;
}section:hover {
  transform: scale(0.95);
  transition: transform 0.2s;
}

.head {
  justify-content: space-between;
  margin: 0.5rem;
}

.head img {
  border-radius: 0.8rem;
  width: 80px;
}

.img-div img {
  max-width: 99%;
}

strong {
  font-size: 2rem;
  color: var(--color-cyan);
}

@media (max-width: 1100px) {
  main {
    padding: 0;
  }
}

@container (max-width: 350px) {
  strong {
    font-size: 1rem;
  }
}