
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-family: "Comfortaa", sans-serif;
  margin: 0 15rem 10rem 15rem;
  background-color: var(--color-black);
  transition: background-color 2s;
}

.cool-nav {
  background-color: var(--color-black);
  border-radius: 12px 8px 12px 0px;
  transition: all 2s;
  transition: background-color 2s, color 2s;
  color: var(--color-light);
}

:root {
  --color-light: rgb(230, 219, 219);
  --color-cyan: rgb(7, 117, 125);
  --color-dark-gray: rgb(57, 62, 70);
  --color-black: rgb(34, 40, 49);
}
 
.navigastion {
  font-family: "Rubik", sans-serif;;
  position: sticky;
  z-index: 5;
  background-color: var(--color-dark-gray);
  height: 3.7rem;
  border-radius: 9px;
}

.theme-div {
  display: flex;
  flex-flow: column;
  margin: 10px 5px 5px 0px  ;
  border: 2px solid var(--color-cyan);
  border-radius: 5px;
  padding: 1px 10px 8px 10px;
  background-color: var(--color-black);
}

.theme-text {
  text-shadow: 1.2px 1px #00000069;
  font-family: "Rubik", sans-serif;
  color: var(--color-cyan);
  font-weight: 400;
  font-size: large;
}

#theme-1, #theme-2, #theme-3{
  margin: 0px 5px 2px 0px;
  padding: 5px 10px;
  background-color: var(--color-dark-gray);
  border-radius: 3px;
  border: 1px solid var(--color-cyan);
  transition: all 0.5s;
}
#theme-1:hover, #theme-2:hover, #theme-3:hover {
  background-color: var(--color-light)
}

#theme-1 {
  background-color: var(--color-cyan);
}

nav {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

div {
  display: flex;
}

h1 {
  color: var(--color-cyan);
  font-size: 2rem;
  margin: 1rem 0 0 2.8rem;
  text-shadow: 1.6px 1.3px rgba(11, 98, 128, 0.857);
  text-decoration: underline;
}

hr {
  margin-bottom: 1.2rem;
  margin-top: .8rem;
}

.links {
  text-shadow: 1.2px 1px #00000069;
  font-family: "Rubik", sans-serif;
  color: var(--color-cyan);
  margin-top: 1.5rem;
  font-size: 20px;
  padding: 5px 10px;
  font-weight: 400;
  padding-bottom: 6px;
  transition: all 0.5s;
}
.links:hover {
 color: rgba(243, 143, 112, 0.845);
}


@media (max-width: 1100px) {
  h1 {
  font-size: 1.5rem;    
  }
}

@media (max-width: 1000px) {
  h1 {
  font-size: 1.1rem;    
  }

}

@media (max-width: 900px) {
  body {
    margin: 0 0rem;
    padding: 0 0rem 10rem 0;
  
  }
  main {
    padding: 0rem;
    margin: 0 2rem;
  }

  h1{
    padding: 0;
    margin: 0rem;
  }
}


